a { color: #4B58A6; }
a:hover { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

#circle canvas {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.filter-box {
  height: 15px;
  width: 15px;
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* customizations for iframe template */
.iframe #map_canvas { height: 500px; }
.iframe .well { margin-bottom: 5px; }
.iframe .alert { margin-top: 5px; }



.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    float: right;
    color: #1B84B5;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.flag {
  width: 25%;
}

.bigger-header {
  font-size: 72px;
  color: #1B84B5;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 75%;
  padding-top: 2vh;
}

body {
  overflow-x: hidden;
}

.carousel-inner>.item {
  padding: 15px;
  align-content: center;
  background-color: #147FD7;

}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.jumbotron {
  background-color: #147FD7;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-bottom: 2vh;
}

.jumbotron:first-of-type {

}

.carousel-indicators {
  top: 90%;
}

.intro-text {
  color: white;
  width: 75%;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 6vh;
  text-align: justify;
}

@media (min-width:1367px) {
  .intro-text {
    padding-bottom: 10vh;
  }
}

@media (max-width:667px) {
  .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 80%;
  }
  .intro-text {
    width: 80%;
  }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    top: 90%;
    right: 90%;

  }
   .carousel-control .glyphicon-chevron-left {
     top: 90%;
     left: 90%;
   }
  .jumbotron p {
    font-size: 15px;
    margin-bottom: 0px;
  }
}

p {
  margin-bottom: 0px;
}

@media (max-width:568px) {
  .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 80%;
  }
  .intro-text {
    width: 80%;
    font-size: 10;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: white;
  border: none;
  background-color: #002366;
}

.navbar-default .navbar-brand {
  color: #ffe400;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #002366;
}

.navbar-default .navbar-nav>li>a {
  color: #ffe400;
}

.container-fluid:first-of-type {
  padding: 0px;
}

.navbar-header {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: center;
}

.navbar-right {
  padding-right: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffe400;
}

.col-md-12 {
  height: 80vh;
}

.navbar-toggle {
  background-color: #002366;
  padding: 1vh;
  vertical-align: center;
  margin-right: 2vh;
}

.navbar-brand {
  padding: 2vh;
}

.navbar-default {
  background-color: #002366;
  border-color: #002366;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar {
  min-height: 7vh;
  max-height: 7vh;
  margin-bottom: 2vh;
}

.container-fluid {
  padding-left: 2vh;
  padding-right: 2vh;
}

.col-md-12 {
  padding-left: 2vh;
  padding-right: 2vh;
}

.carousel {
  padding-left: 2vh;
  padding-right: 2vh;
  margin-bottom: 2vh;
}

.kansas-blue {
  background-color: #002366;
  color: #ffe400;
  text-align: justify;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default:hover .navbar-brand:hover {
  color: white;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 0px;
}

@media (min-width:800px) {
  .first-column {
    padding-right: 0px;
  }
}

.kansas-text {
  width: 75%;
}

h3 {
  text-align: center;
}

.progress-head {
  color: white;
  font-size:  300%;
}

.progress-body {
  color: white;
  font-size: 200%;
}

.faqHeader {
  margin-left: 0;
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 0px;
}

.panel .panel-default {
  vertical-align: middle;
}

strong {
  font-size: 100px;
}
